.Sheets {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  &-Pane {
    display: flex;
    flex-basis: 70%;
  }
  &-Loading {
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
  }
}
